[alias]
	st = status --short
	gr = log --graph --branches --remotes
	g = gr --oneline
	ds = diff --staged
	a = add -u
[user]
	email = mydellpc07@gmail.com
	name = Arunanshu Biswas
	signingKey = 80354B75906DDD89F7676D15729D794DBD22DB68
[init]
	defaultBranch = master
[color]
	ui = true
