[alias]
	st = status --short
	gr = log --graph --branches --remotes
	g = gr --oneline
[user]
	email = mydellpc07@gmail.com
	name = Arunanshu Biswas
[init]
	defaultBranch = master
[credential]
	helper = netrc -f ~/.netrc.gpg -v
