[alias]
	st = status --short
	gr = log --graph --branches --remotes
[user]
	email = mydellpc07@gmail.com
	name = Arunanshu Biswas
[init]
	defaultBranch = master
[credential]
	helper = /usr/share/git/credential/netrc/git-credential-netrc.perl
